<head>
  <script src="client-side.js"></script>
</head>

<body style="background-color:#FFFAED; text-align:center">
  <h1>Add New Rooms</h1>

  <div class="create-container">
    <form action="/add-new-rooms" method="POST">
      <div>
        <div class="inputs">
          <div class="field">
            <label>Room price</label>
            <input name="room_price" type="number" required="required" placeholder="How much per night?">
          </div>
          <div class="field">
              <label>Cleaned</label>
              <select name="is_clean">
                <option value="true">Cleaned</option>
                <option value="false">Not Cleaned</option>
              </select>
          </div>
          <div class="field">
              <label>Occupied</label>
              <select name="is_occupied">
                <option value="true">Occupied</option>
                <option value="false" selected>Vacant</option>
              </select>
          </div>
        </div>
        <input type="submit" name="addRoom" value="Add">
      </div>
    </form>
  </div>
  <div>
    <table>
      <tr>
        <thead>
          <th>Room Number</th>
          <th>Room Price</th>
          <th>Clean</th>
          <th>Occupied</th>
          <th>Delete</th>
        </thead>
      </tr>
      <tbody id="tableBody">
        {{#if results}}
          {{#each results}}
            <tr id={{this.room_id}}>
              <td>{{this.room_id}}</td>
              <td>{{this.room_price}}</td>
              {{#if this.is_clean}}
                  <td>Yes</td>
              {{else}}
                  <td>No</td>
              {{/if}}
              {{#if this.is_occupied}}
                  <td>Yes</td>
              {{else}}
                  <td>No</td>
              {{/if}}
              <td><input type="submit" value="Delete" onclick="deleteRow('Rooms', {{this.room_id}})"></td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</body>
