<head>
  <script src="client-side.js"></script>
</head>

<body style="background-color:#FFFAED; text-align:center">
  <h1>Booking page</h1>
  <div class="create-container">
    <form action="/create-booking" method="post">
      <div>
        <div class="inputs">
          <div class="field">
            <label>Customer</label>
            <select name="customer_id" id="customer_id" required>
              <option selected value="base">Please Select</option>
              {{#if results}}
                {{#each results}}
                  <option value={{this.customer_id}}>{{this.whole_name}}</option>
                {{/each}}
              {{/if}}
            </select>
          </div>
          <div class="field">
            <label>Room</label>
            <select name="room_id" id="room_id" required>
              <option selected value="base">Please Select</option>
              {{#if rooms}}
                {{#each rooms}}
                  <option value={{this.room_id}}>{{this.room_id}} - ${{this.room_price}}</option>
                {{/each}}
              {{/if}}
            </select>
          </div>
          <div class="field">
            <label>Booking Date</label>
            <input name="booking_date" type="text" required="required" placeholder="YYYY-MM-DD">
          </div>
        </div>
        <input type="submit" name="addBooking" value="Add">
      </div>
    </form>
  </div>

<div>
  <table>
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Customer Name</th>
        <th>Email Address</th>
        <th>Booking Date</th>
        <th>Delete</th>
      </tr>
    <tbody id="tableBody">
      {{#if results}}
        {{#each results}}
          <tr id={{this.booking_id}}>
            <td>{{this.booking_id}}</td>
            <td>{{this.whole_name}}</td>
            <td>{{this.email_address}}</td>
            <td>{{this.booking_date}}</td>
            <td><input name="delete" type="submit" value="Delete" onclick="deleteRow('Bookings', {{this.booking_id}})"></td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
