<body style="background-color:#FFFAED; text-align:center">
  <h1>Create a Customer Account</h1>
  <div class="create-container">
    <form action="/create-customer-account" method="post">
      <div>
        <div class="inputs">
          <div class="first_name">
            <label>First name</label>
            <input name="first_name" type="text" required="required" placeholder="First Name">
          </div>
          <div class="last_name">
            <label>Last name</label>
            <input name="last_name" type="text" required="required" placeholder="Last Name">
          </div>
          <div class="email_address">
            <label>E-mail</label>
            <input name="email_address" type="text" required="required" placeholder="E-mail">
          </div>
          <div class="age">
            <label>Age</label>
            <input name="age" type="number" required="required" placeholder="Age">
          </div>
        </div>
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
  <div>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#if results}}
            {{#each results}}
              <tr>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email_address}}</td>
                <td>{{this.age}}</td>
                <td><form action="/edit" method="post"><input type="submit" value="Edit" onclick="editRow({{this.id}})"></form></td>
                <td><input type="submit" value="Delete" onclick="deleteRow({{this.id}})"></td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
