<body style="background-color:#FFFAED; text-align:center">
  <h1>Search Booking Details</h1>
    <div class="search-container">
      <form action="/search-booking-details" method="post">
        <div class="inputs">
          <label>Booking ID</label>
          <input name="Look up existing booking details" type="text" placeholder="Booking ID">
        </div>
      </form>
      <input type="submit" value="Search">
    </div>
    <div>
      <table>
          <thead>
              <th>Booking ID</th>
              <th>Booking Price</th>
              <th>Customer ID</th>
              <th>Room ID</th>
              <th></th>
              <th></th>
          </thead>
          {{#each results}}
            <tr>
              <td>{{booking_details_id}}</td>
              <td>{{booking_price}}</td>
              <td>{{bid}}</td>
              <td>{{rid}}</td>
              <td><form action="/edit" method="post"><input type="submit" value="Edit" onclick="editRow({{this.id}})"></form></td>
				      <td><input type="submit" value="Delete" onclick="deleteRow({{this.id}})"></td>
            </tr>
          {{/each}}
    </div>