<body style="background-color:#FFFAED; text-align:center">
  <h1>Search Booking Details</h1>

  <div>
    <div class="filterContainer">
      <form action="/search-booking-details" method="get">
          <div class="form-group">
            <label>Filter By Name</label>
            <input name="searchFirstName" type="text" required="required" placeholder="First Name">
            <input name="searchLastName" type="text" required="required" placeholder="Last Name">
            <input type="submit" name="filterByName" value="Filter" class="btn btn-primary" />
          </div>
      </form>

      <form action="/search-booking-details" method="get">
        <div class="form-group">
          <label>Filter By Price</label>
          <input name="searchMinPrice" type="number" required="required" placeholder="Min Price">
          <input name="searchMaxPrice" type="number" required="required" placeholder="Max Price">
          <input type="submit" name="filterByPrice" value="Filter" class="btn btn-primary" />
        </div>
      </form>
    </div>
    <div>
      <table>
        <tr>
          <thead>
              <th>Booking Details ID</th>
              <th>Booking Date</th>
              <th>Customer Name</th>
              <th>Room ID</th>
              <th>Booking Price</th>
              <th>Has Multiple Bookings</th>
          </thead>
        </tr>
        <tbody>
          {{#if results}}
            {{#each results}}
              <tr>
                <td>#{{this.booking_details_id}}</td>
                <td>{{this.booking_date}}</td>
                <td>{{this.whole_name}}</td>
                <td>#{{this.room_id}}</td>
                <td>${{this.booking_price}}</td>
                {{#if this.multipleBookings}}
                  <td>Yes</td>
                {{else}}
                  <td>No</td>
                {{/if}}
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</body>
