<body style="background-color:#FFFAED; text-align:center">
  <h1>Search Booking Details</h1>
    <div class="search-container">
      <form action="/search-booking-details" method="post">
        <div class="inputs">
          <label>Booking ID</label>
          <input name="Look up existing booking details" type="text" placeholder="Booking ID">
        </div>
      </form>
      <input type="submit" value="Search">
    </div>
    <div>
      <table>
        <tr>
          <thead>
              <th>Booking Details ID</th>
              <th>Booking Price</th>
              <th>Customer Name</th>
              <th>Room ID</th>
              <th></th>
              <th></th>
          </thead>
        </tr>
        <tbody>
          {{#if results}}
            {{#each results}}
              <tr>
                <td>{{this.booking_details_id}}</td>
                <td>{{this.booking_price}}</td>
                <td>{{this.whole_name}}</td>
                <td>{{this.room_id}}</td>
                <td><form action="/edit" method="post"><input type="submit" value="Edit" onclick="editRow({{this.id}})"></form></td>
                <td><input type="submit" value="Delete" onclick="deleteRow({{this.id}})"></td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
    </div>